@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Orbitron&display=swap');

body {
  text-align: center;
}

#frame {
  height: 360px;
  width: 662px;
  background-color: #FBA601;
  margin: auto;
}

#myHeading {
  font-family: 'Neucha', cursive;
  text-align: center;
}

#myTitle, #myTitle1, #myTime {
  font-family: 'Neucha', cursive;
  text-align: center;
  color: white;
  padding-top: 3%;
}

.myButton {
  height: 50px;
  width: 150px;
  border: 2px solid white; 
  background-color: #FBA601;
  color: white;
  border-radius: 10px;
  font-size: 1.6rem;
  margin: 10px;
}